<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rede UFPI - Perfil {{user.first_name}} {{user.last_name}}</title>
    <link rel="stylesheet" href="static/css/perfil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="wraper-header">
            <div class="logo">
                <img src="static/img/ufpi-icone1.png" alt="ufpi-icone1">
            </div>
            <div class="home-btn">
                <p>
                    <span>
                        <a href="home-page.html"><i class="fa-solid fa-house"></i></a>
                        <p class="palavra">Home <i class="fa-solid fa-arrow-right"></i> Perfil
                    </span></p>
                </p>
                <p>

                </p>
            </div>
            <div class="search">
                <input type="text" placeholder="Procurar no perfil">
            </div>
            <div class="notifications">
                <a href="comunidades.html"><i class="fa-solid fa-comment"></i></a>
                <a href="{{user.username}}"><i class="fa-solid fa-user"></i>
                <a href="login.html"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
        </div>
    </header>

    <body>
        <div class="profile-canvas">
            <div class="profile-info">
                <div class="profile-image">
                    <img src="https://via.placeholder.com/150" alt="Profile Image">
                </div>
                <div class="profile-details">
                    <h2>{{user.first_name}} {{user.last_name}}</h2>
                    <p>Email: {{user.email}}</p>
                    <p>Nome: {{user.first_name}} {{user.last_name}}</p>
                    <p>Matricula: {{user.username}}</p>

                </div>
            </div>
            <div class="profile-actions">
                <a href="editar.html"><button>Editar Perfil</button></a><!--Linkar com a tela editar-->
            </div>
            <h3>Posts</h3>

            <div class="profile-posts">
                <!-- Posts will be listed here -->
                <div class="post-single">
                    <div class="post-content">
                        <div class="post-content-text">
                            <p><i class="fa-solid fa-user"></i><!--Exemplo de onde fica a foto--> <b></b>Postado no dia {{ post.data|date:"d/m/Y H:i" }}</p>
                            <h5>{{post.conteudo}}</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
        </div>
        
    </body>
</body>

</html>
