{% load static %}

<!DOCTYPE html>
<html lang="pt br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/post.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <title>Rede UFPI - Post {{post.id}}</title>
</head>
<body>
    <header>
      <div class="wraper-header">
        <div class="logo">
          <img src="{% static 'img/ufpi-icone1.png' %}" alt="ufpi-icone1">
        </div>
        <div class="home-btn">
          <p>
            <span>
              <a href="{% url 'home-page' %}"><i class="fa-solid fa-house"></i></a>
              <p class="palavra">Home <i class="fa-solid fa-arrow-right"></i> {{post.id}}</p>
            </span>
          </p>
          <p>
          </p>
        </div>
        <div class="search">
          <input type="text" placeholder="Procurar...">
        </div>
        <div class="notifications">
          <i class="fa-solid fa-comment"></i>
          <a href="/redeufpi/perfil/{{user.username}}"><i class="fa-solid fa-user"></i>
          <a href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
      </div>
    </header>
    <br>
    <div class="posts">
        <div class="post-single">
            <div class="post-content">
                <div class="post-content-text">
                  <p><i class="fa-solid fa-user"></i><!--Exemplo de onde fica a foto--> <b>{{post.user.first_name}} {{post.user.last_name}}</b>  Postado no dia {{ post.data|date:"d/m/Y H:i" }}</p>
                <h3>{{post.conteudo}}</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="postBox">
          <form method="post" action="{% url 'criar_comentario_main' post.id %}">
            {% csrf_token %}
            <div class="postbox__input">
                <input type="text" name="conteudo" placeholder="Comentar"/>
                <button type="submit" class="postBox__postButton">Comentar</button>
            </div>
        </form>
      </div>
        <br>
        <!-- Add this structure around your comment section -->
    <div class="comments-container">
      <!-- Your comment sections go here -->
      {% for comment in comments %}
          <div class="coment-single">
              <div class="coment-content">
                  <div class="coment-content-text">
                      <p><i class="fa-solid fa-user"></i> <b>{{ comment.user.first_name }} {{ comment.user.last_name }}</b> Postado no dia {{ comment.data|date:"d/m/Y H:i" }}</p>
                      <h3>{{ comment.conteudo }}</h3>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>

  </div>
</body>
</html>