body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.site {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -25%);
}
h1 {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    color: #eee;
    margin-bottom: 10px;
    font-weight: 300;
}
.container {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, rgb(44, 89, 120), rgb(27, 67, 115), rgb(2, 27, 48));
    background-size: cover;
    color: #eee;
    position: relative;
    
}

.criar-comunidade-container {
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(2px);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    border: 1.5px solid #eee;
    position: relative;
    z-index: 2;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    background-color: transparent;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="nome-comunidade"]{
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #e4e3e3;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28ba73;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1b784b;
}

.tem-comunidade{
    display: inline-block;
    text-align: right;
    text-decoration: none;
    color: #eee;
    margin-bottom: 10px;
}
.tem-comunidade:hover{
    cursor: pointer;
    color: #28ba73;;
}

@media screen and (max-width: 800px){
    .container {
        font-family: "Poppins", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: radial-gradient(circle, rgb(44, 89, 120), rgb(27, 67, 115), rgb(2, 27, 48));
        background-size: cover;
        color: #eee;
        position: relative;
        padding: 0;
    }
    .site {
        position: absolute;
        z-index: 1;
    }
    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 30px;
        color: #eee;
        margin-bottom: 10px;
        font-weight: 300;
    }
}