body {
    background: radial-gradient(circle, rgb(44, 89, 120), rgb(27, 67, 115), rgb(2, 27, 48));
}


header {
    padding-top: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}


.wraper-header,
.wraper-main {
    width: 100%;
    padding: 0 10px;
    display: flex;
    max-width: 1480px;
    margin: 0 auto;
}

.wraper-main {
    justify-content: space-around;
}

.wraper-header img {
    width: 70px;
}

.home-btn {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.search {
    width: 45%;
}

.search input {
    width: 100%;
    height: 40px;
    background-color: rgb(230, 230, 230, 0.5);
    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    padding-left: 10px;
}

.notifications {
    margin: 0 10px;
    display: flex;
    justify-content: space-around;
    width: 15%;
}

.notifications i {
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    color: #0d3c26;
}

.notifications i:hover {
    background-color: rgb(240, 240, 240, 0.5);
}

.profile-canvas {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    max-height: 600px;
    overflow-y: auto;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-image {
    margin-right: 20px;
}

.profile-details {
    max-width: 400px;
}

.profile-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end; 
}

.profile-actions button {
    background-color: #28ba73;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    margin-right: 10px;
}

.profile-actions button:hover {
    background-color: #20955c;
    color: white;
}

.profile-posts {
    margin-top: 20px;
}


.post-single {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    border-radius: 7px;
}

.post-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.post-content-text {
    padding: 10px;
}

.profile-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end; 
}

.profile-actions button {
    background-color: #28ba73;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;

}

.profile-actions button:hover {
    background-color: #20955c;
    color: white;
}

.post-single{
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    border-radius: 7px;
}

.post-sidebar{
    padding: 25px 10px;

}

.post-content h3{
    margin-top: 10px;
}

.post-content p > img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: inline;
}

.post-content img{
    width: 100%;

}

.post-content-text{
    padding: 10px;
}



input{
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #e4e3e3;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(40, 186, 115, 0.5);
    border-radius: 4px; 
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 800px){

    .topicos{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .palavra{
        display: none;
    }
    .logo{
        display: none;
    }
    p{
        font-size: medium;
    }
    i{
        font-size: medium;
    }
    .home-btn{
        display: flex;
        width: 10%;
        size: 10px;
    }
    .search{
        margin-right: 30px;
        width: 53%;
    }
    
    .posts {
        width: 100%;
        overflow-y: auto;
        margin: 0 auto;
        max-height: 650px; 
        padding: 0 20px;
    }
}